<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Canale 7</string>
		<key>url</key>
		<string>http://wms.shared.streamshow.it:1935/canale7/canale7/live.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Rrokum</string>
		<key>url</key>
		<string>http://82.114.65.202:1935/live/rrokumtv/playlist.m3u8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.27:8136</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV1 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.117:10254</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.39:8208</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV3</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.28:8142</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV3 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.118:10260</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV4</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.40:8214</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV5</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.41:8220</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV6</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.42:8226</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV6 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.119:10266</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV8</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.148:8862</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV9</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.241:9420</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV Thể thao</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.24:8118</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.35:8184</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.36:8190</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV2 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.222:9306</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV3</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.104:8598</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV4</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.25:8124</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV7</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.21:8100</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV7 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.223:9312</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV9</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.31:8160</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTV9 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.224:9318</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab-MTV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.82:8466</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab-MTV HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.75:8424</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab1-Giải trí TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.143:8832</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab10-O2TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.26:8130</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab12-Style TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.244:9438</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab14-Lotte</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.140:10356</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab16-Bóng đá TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.138:8802</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab16-Bóng đá TV HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.210:9234</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab17-yeah1 TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.217:9276</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab2-Phim Việt</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.168:8982</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab20-VFamily</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.245:10344</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab3-Thể thao TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.208:9222</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab3-Thể thao TV HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.207:9216</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab4-Văn hóa</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.169:8988</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab5-E Channel</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.193:9132</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab6-Hay TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.220:9294</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab7-Dramas</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.205:9204</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCab8-BiBi</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.206:9210</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCap13-HYUNDAI</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.142:10386</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Ca nhạc</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.126:8730</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Du lich va Cuoc sống</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.221:9300</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Gia đình</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.170:8994</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Mua sắm tiêu dùng</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.229:9348</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Paramount HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.133:9594</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Phim</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.105:8604</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Phụ nữ</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.127:8736</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Thuần Việt</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.22:8106</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HTVC-Thuần Việt HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.134:9600</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC1 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.71:8400</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC10-Nét Việt</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.214:9258</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC11-kids TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.61:8340</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC12</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.202:9186</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC13-iTV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.62:8346</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC13-iTV HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.74:8418</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC14</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.216:9270</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC16-3NTV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.215:9264</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.57:8322</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC3</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.60:8232</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC3 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.81:8460</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC6</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.58:8328</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC7-Today TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.213:9252</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC8</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.32:8166</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC9-Let’s Việt</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.59:8334</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thông tấn xã Việt Nam</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.52:8292</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,An ninh TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.212:9246</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Nhân dân HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.235:10350</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quốc hội HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.234:10290</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quốc phòng Việt Nam</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.228:9342</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quốc phòng Việt Nam HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.219:10332</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Xổ số</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.211:9240</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HCaTV-HITV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.55:8310</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Animal Planet</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.48:8268</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,arirang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.43:8238</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Asian Food Channel</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.115:10236</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Asian Food Channel HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.129:9570</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,AXN</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.14:8058</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bloomberg</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.7:8016</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,CARTOON NETWORK</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.16:8070</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,CCTV4-Tiếng Trung</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.3:7992</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,CINEMAX</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.20:8094</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,CNN</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.126:8076</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Channel V</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.13:8052</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Channel V HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.132:9588</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Da Vinci Learning</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.108:10224</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Da Vinci Learning HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.131:9582</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,DISCOVERY</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.47:8262</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,DISNEY</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.18:8082</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Disney Junior</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.90:10398</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Diva Universal</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.109:10230</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Diva Universal HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.130:9576</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,DW-TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.6:8010</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,DW-TV HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.233:10416</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FASHION</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.2:7986</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.66:8370</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.120:8448</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX SPORTS</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.11:8040</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX SPORTS 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.12:8046</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,France 24</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.135:9606</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,GEM</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.84:10392</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HBO</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.19:8088</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,KBS World</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.136:9612</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,MEDIACORP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.5:8004</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Nat Geo People</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.121:8376</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Nat Geo People HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.76:8430</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Nat Geo Wild HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.123:8454</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Nat Geo Wild HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.80:8454</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,National Geographic</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.122:8364</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,National Geographic HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.1:7980</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,NHK WORLD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.8:8022</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,NHK WORLD HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.72:8406</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,OPT 1-Tiếng Nga</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.63:8352</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Outdoor Channel HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.107:10218</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,POCCNR PTP-Tiếng Nga</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.127:8544</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Rai Italia</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.124:8358</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Red By HBO</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.44:8244</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Red By HBO HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.9:8028</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,RTTiếng Nga</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.125:8538</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,STAR MOVIES</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.10:8034</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Star Movies HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.77:8436</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Star World</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.119:8382</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Star World HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.78:8442</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,TOONAMI</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.91:10404</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,TV5MONDE</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.45:8250</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Travel vaLiving</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.49:8274</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,SCTV10-Az Shop</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.233:10284</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,SCTV5-SCJ Shopping</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.227:10338</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,An Giang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.110:8742</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bà Rịa</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.73:8748</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bạc Liêu</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.116:8766</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bắc Giang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.89:8754</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bắc Kạn</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.92:8760</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bắc Ninh</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.133:8772</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bến Tre</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.115:8778</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bình Dương 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.136:8790</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bình Dương 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.137:8796</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bình Dương 4-iMovie TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.139:8808</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bình Định</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.88:8784</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bình Phước</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.90:8814</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bình Thuận</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.77:8820</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Cà Mau</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.117:8826</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Cao Bằng</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.109:8844</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Cần Thơ</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.144:8838</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Đà Nẳng 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.146:8850</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Đà Nẵng 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.114:8856</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Đắk Lắk</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.86:8868</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Đắk Nông</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.72:8874</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Điện Biên</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.76:8880</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Đồng Nai 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.152:8886</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Đồng Nai 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.153:8892</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Đồng Tháp</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.154:8898</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Gia Lai</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.68:8904</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hà Giang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.85:8910</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hà Nam</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.82:8916</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hà Nội 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.29:8148</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hà Nội 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.23:8112</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hà Tĩnh</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.96:8922</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hải Dương</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.79:8928</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hải Phòng</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.104:8934</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hậu Giang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.112:8940</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hòa Bình</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.71:8946</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hưng Yên</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.84:8952</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Kiên Giang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.113:8964</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Kon Tum</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.66:8970</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Khánh Hoà</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.99:8958</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Lai Châu</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.67:9174</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Lạng Sơn</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.107:8646</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Lào Cai</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.93:8718</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Lâm Đồng</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.78:8976</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Long An 34</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.171:9000</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Nam Định</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.69:9006</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Ninh Bình</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.80:9018</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Ninh Thuận</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.74:9024</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Nghệ An</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.101:9012</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Phú Thọ</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.95:9030</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Phú Yên</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.161:10362</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quãng Bình</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.98:9042</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quảng Nam</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.81:9048</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quảng Ninh</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.181:9060</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quảng Ngãi</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.108:9054</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Quảng Trị</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.105:9066</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Sóc Trăng</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.103:9072</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Sơn La</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.184:9078</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Tây Ninh 11</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.97:9084</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Tiền Giang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.189:9108</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Tuyên Quang</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.91:9138</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thái Bình</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.100:9090</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thái Nguyên 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.87:9096</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thái Nguyên 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.70:9168</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thanh Hoá</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.111:9102</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thừa Thiên Huế</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.106:9042</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Trà Vinh</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.102:8472</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Vĩnh Long 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.195:9144</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Vĩnh Long 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.196:9150</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Vĩnh Phúc</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.83:9156</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Yên Bái</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.75:8790</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VOV Giao thông</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.38:8202</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VOV TV</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.46:8256</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VOV1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.33:8172</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VOV2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.37:8196</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VOV3</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.34:8178</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.30:8154</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.96:8550</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+1 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.122:10314</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+NS</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.97:8556</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+NS HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.123:10320</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+PM</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.98:8562</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+PM HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.125:10326</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+PC</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.131:10368</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,K+PC HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.176:10374</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bóng đá 801 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.50:8280</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bóng đá 802 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.51:8286</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bóng đá 803 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.56:8316</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Mosaic 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.242:9426</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Mosaic 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.243:9432</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Ha Noi 1 PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.110:8634</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX Sports 2 PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.249:9468</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV3 PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.111:8640</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC13 PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.236:9390</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,TLC PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.237:9396</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Star Movies PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.93:8532</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,HBO SD PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.102:8586</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,RAI-Italia</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.64:8358</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,POCCNR PTP-Tieng Nga</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.95:8544</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,RTTieng Nga</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.94:8538</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Bac Lieu</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.132:8766</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Binh Dinh 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.135:8784</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Can Tho</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.118:8838</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Da Nang 2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.147:8856</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Dak Lak</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.149:8868</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,DN9-AZShop</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.243:10476</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thua Thien Hue</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.106:9120</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Tra Vinh</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.102:9114</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Yen Bai</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.75:9162</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTVCap13-HYUNDAI</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.237:10446</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Thong tan xa Viet Nam</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.238:10434</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Ha Noi 2 PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.106:8610</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,NHK World PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.247:9456</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Red by HBO PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.85:8484</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX life PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.248:9462</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,MAX by HBO PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.103:8592</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX life PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.253:9492</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FOX Sports PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.116:8670</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,FashionTV PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.114:8658</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Disney Channel PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.101:8580</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Adtec 1</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.239:10452</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,CCTV2</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.240:10458</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,A</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.244:10482</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTV3 HD</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.242:10470</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,Hanoicab5</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.2.241:10464</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,VTC3 PIP VNPT</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.86:8490</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#EXTINF:-1,SCTV8-VITV PIP</string>
		<key>url</key>
		<string>http://14.182.161.80:4022/rtp/232.84.1.87:8496</string>
	</dict>
</array>
</plist>
